/* common start */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Inter;
}
:root {
  --black-color: #000;
  --light-black-color: #262626;
  --light-grey-color: #707070;
  --light-paste-color: #f2f8ff;
  --light-indigo-color: #d3e7ff;
  --white-color: #f2f8ff;
  --fff-white: #fff;
  --primary-blue-color: #2027b0;
  --light-blue-color: #769cfd;
  --orange-color: #ff3f4b;
}

.content-wrapper {
  max-width: 1200px;
  padding: 100px 50px;
  margin: 0 auto;
}
/* common end */

/* io-team-wrapper start */
.io-team-wrapper {
  background-color: var(--light-paste-color);
}
.io-team-wrapper .io-team-header-area {
  margin-bottom: 40px;
}
.io-team-wrapper .io-team-header-area h3 {
  font-size: 52px;
  font-weight: 700;
  line-height: 72.8px;
  text-align: center;
  color: var(--black-color);
}
.io-team-wrapper .io-team-info-area {
  margin-bottom: 40px;
}
.io-team-wrapper .io-team-info-area p {
  font-size: 18px;
  font-weight: 400;
  line-height: 25.2px;
  text-align: center;
  color: var(--black-color);
}
.io-team-wrapper .io-team-member-card-and-btn-area {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  overflow: hidden;
}
.io-team-wrapper .io-team-member-card-area {
  display: flex;
  gap: 29.3px;
}
.io-team-wrapper .io-team-member-card {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.io-team-wrapper .io-team-member-img img {
  width: 100%;
  max-width: 253px;
  max-height: 253px;
  border-radius: 30px;
}
.io-team-wrapper .io-team-member-card-info-area {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.io-team-wrapper .io-team-member-name p {
  font-size: 18px;
  font-weight: 600;
  line-height: 25.2px;
  text-align: left;
  color: var(--black-color);
}
.io-team-wrapper .io-team-member-position p {
  font-size: 18px;
  font-weight: 400;
  line-height: 25.2px;
  text-align: left;
  color: var(--black-color);
}
.io-team-wrapper .io-team-member-info p {
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
  text-align: left;
  color: var(--black-color);
}
.io-team-wrapper .io-team-member-btn-area {
  display: flex;
  gap: 30px;
}
.io-team-wrapper .io-team-member-card-btn {
  height: 60px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--light-black-color);
  border-radius: 50%;
}
.io-team-wrapper .io-team-member-card-btn.prev-btn {
  rotate: 180deg;
}
.io-team-wrapper .io-team-member-card-btn.disabled-btn svg path {
  fill: var(--light-grey-color);
}
.io-team-wrapper .io-team-member-card-btn.disabled-btn {
  border: 1px solid var(--light-grey-color);
}
@media screen and (max-width: 900px) {
  .io-team-wrapper .io-team-member-card-area {
    max-width: 100vw;
    overflow-x: scroll;
  }
  .io-team-wrapper .io-team-member-card {
    min-width: 253px;
  }
}

/* io-team-wrapper end */

/* io-user-review-area start */
.io-user-review-area {
  background-color: var(--light-indigo-color);
  display: flex;
  flex-direction: column;
  gap: 70px;
}
.io-user-review-area .io-user-review-img-and-info-area {
  display: flex;
  gap: 70px;
  align-items: center;
}
.io-user-review-area .io-user-review-area-img {
  width: 50%;
}
.io-user-review-area .io-user-review-area-img img {
  width: 100%;
}
.io-user-review-area .io-user-review-info-area {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.io-user-review-area .io-user-review-header h3 {
  font-size: 52px;
  font-weight: 700;
  line-height: 72.8px;
  text-align: left;
  color: var(--black-color);
}
.io-user-review-area .io-user-review-info p {
  font-size: 18px;
  font-weight: 400;
  line-height: 25.2px;
  text-align: left;
  color: var(--black-color);
}
.io-user-review-area .io-user-review-always-show-area {
  display: flex;
  gap: 70px;
  margin-bottom: 63px;
}
.io-user-review-area .io-user-review-card {
  background-color: var(--white-color);
  border-radius: 16px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.io-user-review-area .io-user-review-card-user-and-date-area {
  display: flex;
  justify-content: space-between;
}
.io-user-review-area .io-user-review-card-user-area {
  display: flex;
  gap: 15px;
}
.io-user-review-area .io-user-review-card-user-area {
  display: flex;
  gap: 15px;
}
.io-user-review-area .io-user-review-card-user-name-and-star-area {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.io-user-review-area .io-user-review-card-user-name p {
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
  text-align: left;
  color: var(--black-color);
}
.io-user-review-area .io-user-review-card-user-star-area {
  display: flex;
  flex-wrap: nowrap;
  gap: 5px;
}
.io-user-review-area .io-user-review-card-date-area p {
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
  text-align: left;
  color: var(--black-color);
}

.io-user-review-area .io-user-review-card-area {
  display: flex;
  flex-direction: column;
}
.io-user-review-area .io-user-review-card-details p {
  font-size: 18px;
  font-weight: 700;
  line-height: 25.2px;
  text-align: center;
  color: var(--black-color);
}
.io-user-review-area .io-user-review-card-details p span {
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
  text-align: center;
  color: var(--black-color);
}
/* io-user-review-area end */
.io-user-review-area .io-user-review-hidden-area {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 70px;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.25s ease-in-out;
  /* opacity: 0; */
}
.io-user-review-area .io-user-review-hidden-area.__show {
  max-height: calc(300vh);
  /* opacity: 1; */
  margin-bottom: 63px;
}
.io-user-review-area .io-user-review-toggle-btn {
  margin: 0 auto;
}
.io-user-review-area .io-user-review-toggle-btn button {
  border-radius: 60px;
  padding: 15px 40px;
  background-color: var(--primary-blue-color);
  border: none;
  color: var(--fff-white);
  font-size: 18px;
  font-weight: 600;
  line-height: 25.2px;
}
.io-user-review-area
  .io-user-review-card-area:has(.__show)
  .io-user-review-toggle-btn
  span:first-child {
  display: none;
}
.io-user-review-area
  .io-user-review-card-area
  .io-user-review-toggle-btn
  span:last-child {
  display: none;
}
.io-user-review-area
  .io-user-review-card-area:has(.__show)
  .io-user-review-toggle-btn
  span:last-child {
  display: block;
}

@media screen and (max-width: 900px) {
  .io-user-review-area .io-user-review-img-and-info-area {
    flex-direction: column;
  }
  .io-user-review-area .io-user-review-area-img,
  .io-user-review-area .io-user-review-info-area {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .io-user-review-area .io-user-review-img-and-info-area {
    flex-direction: column;
  }
  .io-user-review-area .io-user-review-area-img,
  .io-user-review-area .io-user-review-info-area {
    width: 100%;
  }
  .io-user-review-area .io-user-review-always-show-area {
    flex-direction: column;
  }
  .io-user-review-area .io-user-review-hidden-area {
    grid-template-columns: 1fr;
  }
}
/* io-user-review-area end */

/* io-Einrichtung-slider-wrapper start */

.io-Einrichtung-slider-wrapper .io-Einrichtung-slider-header {
  margin-bottom: 40px;
}
.io-Einrichtung-slider-wrapper .io-Einrichtung-slider-header h3 {
  font-size: 52px;
  font-weight: 700;
  line-height: 72.8px;
  text-align: center;
  color: var(--black-color);
}
.io-Einrichtung-slider-wrapper .io-Einrichtung-slider-info {
  margin-bottom: 40px;
}
.io-Einrichtung-slider-wrapper .io-Einrichtung-slider-info p {
  font-size: 18px;
  font-weight: 400;
  line-height: 25.2px;
  text-align: center;
  color: var(--black-color);
}
.io-Einrichtung-slider-wrapper .io-Einrichtung-slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.io-Einrichtung-slider-wrapper .io-Einrichtung-slider-content {
  max-width: 1000px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: var(--light-indigo-color);
  border-radius: 16px;
}
.io-Einrichtung-slider-wrapper .io-Einrichtung-slider-content {
  max-width: 1000px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  max-height: 170px;
  border-radius: 16px;
  margin-top: 60px;
}
.io-Einrichtung-slider-wrapper .io-Einrichtung-slider-card {
  height: 170px;
  width: 200px;
  background-color: var(--light-indigo-color);
}
.io-Einrichtung-slider-wrapper .io-Einrichtung-slider-card:first-child {
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}
.io-Einrichtung-slider-wrapper .io-Einrichtung-slider-card:last-child {
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}
.io-Einrichtung-slider-wrapper .io-Einrichtung-slider-card.__active {
  background-color: var(--light-blue-color);
  height: 218px;
  border-radius: 16px;
  margin-top: -20px;
}

.io-Einrichtung-slider-wrapper
  .io-Einrichtung-slider-card
  .io-Einrichtung-slider-card-img {
  margin: 0 auto;
  height: 120px;
  width: 120px;
  background-color: var(--light-paste-color);
  border-radius: 50%;
  overflow: hidden;
  padding: 25px;
  margin-top: -60px;
}
.io-Einrichtung-slider-wrapper
  .io-Einrichtung-slider-card.__active
  .io-Einrichtung-slider-card-img {
  height: 160px;
  width: 160px;
}
.io-Einrichtung-slider-wrapper
  .io-Einrichtung-slider-card
  .io-Einrichtung-slider-card-img
  img {
  width: 100%;
  height: 100%;
}
.io-Einrichtung-slider-wrapper
  .io-Einrichtung-slider-card
  .io-Einrichtung-slider-card-info {
  margin-top: 30px;
}
.io-Einrichtung-slider-wrapper
  .io-Einrichtung-slider-card
  .io-Einrichtung-slider-card-info
  p {
  font-size: 18px;
  font-weight: 500;
  line-height: 25.2px;
  text-align: center;
  color: var(--black-color);
}
.io-Einrichtung-slider-wrapper
  .io-Einrichtung-slider-card
  .io-Einrichtung-slider-card-info
  p {
  font-size: 18px;
  font-weight: 500;
  line-height: 25.2px;
  text-align: center;
  color: var(--black-color);
}
.io-Einrichtung-slider-wrapper .io-Einrichtung-slider-button-area {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.io-Einrichtung-slider-wrapper .io-Einrichtung-slider-btn {
  height: 10px;
  width: 10px;
  background-color: var(--light-blue-color);
  border-radius: 50%;
}
.io-Einrichtung-slider-wrapper .io-Einrichtung-slider-btn.__active {
  background-color: var(--orange-color);
}
@media screen and (max-width: 768px) {
  .io-Einrichtung-slider-wrapper .io-Einrichtung-slider-content {
    max-width: 200px;
    max-height: none;
    background-color: var(--light-indigo-color);
  }
  .io-Einrichtung-slider-wrapper .io-Einrichtung-slider-card {
    height: 200px;
    padding-bottom: 30px;
  }
  .io-Einrichtung-slider-wrapper .io-Einrichtung-slider-card.__active {
    height: 218px;
    border-bottom-right-radius: 0px;
    margin-top: 30px;
    border-bottom-right-radius: 16px;
  }
  .io-Einrichtung-slider-wrapper
    .io-Einrichtung-slider-card.__active
    .io-Einrichtung-slider-card-img {
    margin-top: -50px;
  }
  .io-Einrichtung-slider-wrapper
    .io-Einrichtung-slider-card
    .io-Einrichtung-slider-card-img {
    margin-top: -30px;
  }
  .io-Einrichtung-slider-wrapper .io-Einrichtung-slider-card:first-child {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 0px;
  }
  .io-Einrichtung-slider-wrapper .io-Einrichtung-slider-card:last-child {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
  }
  .io-Einrichtung-slider-wrapper
    .io-Einrichtung-slider-card
    .io-Einrichtung-slider-card-info {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .io-Einrichtung-slider-wrapper .io-Einrichtung-slider {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
}
/* io-Einrichtung-slider-wrapper end */
