/* common start */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Inter;
}
:root {
  --black-color: #000;
  --light-black-color: #262626;
  --light-grey-color: #707070;
  --light-paste-color: #f2f8ff;
  --light-indigo-color: #d3e7ff;
  --white-color: #f2f8ff;
  --fff-white: #fff;
  --primary-blue-color: #2027b0;
  --light-blue-color: #769cfd;
  --orange-color: #ff3f4b;
}

.content-wrapper {
  max-width: 1200px;
  padding: 100px 50px;
  margin: 0 auto;
}
/* common end */

/* io-team-wrapper start */
.io-team-wrapper {
  background-color: var(--light-paste-color);
}
.io-team-wrapper .header-area {
  margin-bottom: 40px;
}
.io-team-wrapper .header-area h3 {
  font-size: 52px;
  font-weight: 700;
  line-height: 72.8px;
  text-align: center;
  color: var(--black-color);
}
.io-team-wrapper .info-area {
  margin-bottom: 40px;
}
.io-team-wrapper .info-area p {
  font-size: 18px;
  font-weight: 400;
  line-height: 25.2px;
  text-align: center;
  color: var(--black-color);
}
.io-team-wrapper .member-card-and-btn-area {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  overflow: hidden;
}
.io-team-wrapper .member-card-area {
  display: flex;
  gap: 29.3px;
}
.io-team-wrapper .team-member-card {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.io-team-wrapper .team-member-img img {
  width: 100%;
  max-width: 253px;
  max-height: 253px;
  border-radius: 30px;
}
.io-team-wrapper .member-card-info {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.io-team-wrapper .member-name p {
  font-size: 18px;
  font-weight: 600;
  line-height: 25.2px;
  text-align: left;
  color: var(--black-color);
}
.io-team-wrapper .position p {
  font-size: 18px;
  font-weight: 400;
  line-height: 25.2px;
  text-align: left;
  color: var(--black-color);
}
.io-team-wrapper .member-info p {
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
  text-align: left;
  color: var(--black-color);
}
.io-team-wrapper .member-btn-area {
  display: flex;
  gap: 30px;
}
.io-team-wrapper .member-card-btn {
  height: 60px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--light-black-color);
  border-radius: 50%;
}
.io-team-wrapper .member-card-btn.prev-btn {
  rotate: 180deg;
}
.io-team-wrapper .member-card-btn.disabled-btn svg path {
  fill: var(--light-grey-color);
}
.io-team-wrapper .member-card-btn.disabled-btn {
  border: 1px solid var(--light-grey-color);
}
@media screen and (max-width: 900px) {
  .io-team-wrapper .member-card-area {
    max-width: 100vw;
    overflow-x: scroll;
  }
  .io-team-wrapper .team-member-card {
    min-width: 253px;
  }
}

/* io-team-wrapper end */

/* io-user-review-area start */
.io-user-review-area {
  background-color: var(--light-indigo-color);
  display: flex;
  flex-direction: column;
  gap: 70px;
}
.io-user-review-area .img-and-info-area {
  display: flex;
  gap: 70px;
  align-items: center;
}
.io-user-review-area .area-img {
  width: 50%;
}
.io-user-review-area .area-img img {
  width: 100%;
}
.io-user-review-area .info-area {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.io-user-review-area .review-header h3 {
  font-size: 52px;
  font-weight: 700;
  line-height: 72.8px;
  text-align: left;
  color: var(--black-color);
}
.io-user-review-area .review-info p {
  font-size: 18px;
  font-weight: 400;
  line-height: 25.2px;
  text-align: left;
  color: var(--black-color);
}
.io-user-review-area .review-always-show-area {
  display: flex;
  gap: 70px;
  margin-bottom: 63px;
}
.io-user-review-area .review-card {
  background-color: var(--white-color);
  border-radius: 16px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.io-user-review-area .user-and-date-area {
  display: flex;
  justify-content: space-between;
}
.io-user-review-area .card-user-area {
  display: flex;
  gap: 15px;
}
.io-user-review-area .user-name-and-star-area {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.io-user-review-area .user-name p {
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
  text-align: left;
  color: var(--black-color);
}
.io-user-review-area .star-area {
  display: flex;
  flex-wrap: nowrap;
  gap: 5px;
}
.io-user-review-area .date-area p {
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
  text-align: left;
  color: var(--black-color);
}

.io-user-review-area .review-card-area {
  display: flex;
  flex-direction: column;
}
.io-user-review-area .card-details p {
  font-size: 18px;
  font-weight: 700;
  line-height: 25.2px;
  text-align: center;
  color: var(--black-color);
}
.io-user-review-area .io-user-review-card-details p span {
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
  text-align: center;
  color: var(--black-color);
}
/* io-user-review-area end */
.io-user-review-area .review-hidden-area {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 70px;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.25s ease-in-out;
  /* opacity: 0; */
}
.io-user-review-area .review-hidden-area.__show {
  max-height: calc(300vh);
  /* opacity: 1; */
  margin-bottom: 63px;
}
.io-user-review-area .review-toggle-btn {
  margin: 0 auto;
}
.io-user-review-area .review-toggle-btn button {
  border-radius: 60px;
  padding: 15px 40px;
  background-color: var(--primary-blue-color);
  border: none;
  color: var(--fff-white);
  font-size: 18px;
  font-weight: 600;
  line-height: 25.2px;
}
.io-user-review-area
  .review-card-area:has(.__show)
  .review-toggle-btn
  span:first-child {
  display: none;
}
.io-user-review-area .review-card-area .review-toggle-btn span:last-child {
  display: none;
}
.io-user-review-area
  .review-card-area:has(.__show)
  .review-toggle-btn
  span:last-child {
  display: block;
}

@media screen and (max-width: 900px) {
  .io-user-review-area .img-and-info-area {
    flex-direction: column;
  }
  .io-user-review-area .area-img,
  .io-user-review-area .info-area {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .io-user-review-area .img-and-info-area {
    flex-direction: column;
  }
  .io-user-review-area .area-img,
  .io-user-review-area .info-area {
    width: 100%;
  }
  .io-user-review-area .review-always-show-area {
    flex-direction: column;
  }
  .io-user-review-area .review-hidden-area {
    grid-template-columns: 1fr;
  }
}
/* io-user-review-area end */

/* io-slider-wrapper start */

.io-slider-wrapper .slider-header {
  margin-bottom: 40px;
}
.io-slider-wrapper .slider-header h3 {
  font-size: 52px;
  font-weight: 700;
  line-height: 72.8px;
  text-align: center;
  color: var(--black-color);
}
.io-slider-wrapper .io-slider-info {
  margin-bottom: 40px;
}
.io-slider-wrapper .io-slider-info p {
  font-size: 18px;
  font-weight: 400;
  line-height: 25.2px;
  text-align: center;
  color: var(--black-color);
}
.io-slider-wrapper .io-Einrichtung-slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.io-slider-wrapper .slider-content {
  max-width: 1000px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: var(--light-indigo-color);
  border-radius: 16px;
}
.io-slider-wrapper .slider-content {
  max-width: 1000px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  max-height: 170px;
  border-radius: 16px;
  margin-top: 60px;
}
.io-slider-wrapper .slider-card {
  height: 170px;
  width: 200px;
  background-color: var(--light-indigo-color);
}
.io-slider-wrapper .slider-card:first-child {
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}
.io-slider-wrapper .slider-card:last-child {
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}
.io-slider-wrapper .slider-card.__active {
  background-color: var(--light-blue-color);
  height: 218px;
  border-radius: 16px;
  margin-top: -20px;
}

.io-slider-wrapper .slider-card .slider-card-img {
  margin: 0 auto;
  height: 120px;
  width: 120px;
  background-color: var(--light-paste-color);
  border-radius: 50%;
  overflow: hidden;
  padding: 25px;
  margin-top: -60px;
}
.io-slider-wrapper .slider-card.__active .slider-card-img {
  height: 160px;
  width: 160px;
}
.io-slider-wrapper .slider-card .slider-card-img img {
  width: 100%;
  height: 100%;
}
.io-slider-wrapper .slider-card .slider-card-info {
  margin-top: 30px;
}
.io-slider-wrapper .slider-card .slider-card-info p {
  font-size: 18px;
  font-weight: 500;
  line-height: 25.2px;
  text-align: center;
  color: var(--black-color);
}
.io-slider-wrapper .slider-card .slider-card-info p {
  font-size: 18px;
  font-weight: 500;
  line-height: 25.2px;
  text-align: center;
  color: var(--black-color);
}
.io-slider-wrapper .slider-button-area {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.io-slider-wrapper .io-Einrichtung-slider-btn {
  height: 10px;
  width: 10px;
  background-color: var(--light-blue-color);
  border-radius: 50%;
}
.io-slider-wrapper .io-Einrichtung-slider-btn.__active {
  background-color: var(--orange-color);
}
@media screen and (max-width: 768px) {
  .io-slider-wrapper .slider-content {
    flex-direction: column;
    max-width: 200px;
    max-height: none;
    background-color: var(--light-indigo-color);
  }
  .io-slider-wrapper .slider-card {
    height: 200px;
    padding-bottom: 30px;
  }
  .io-slider-wrapper .slider-card.__active {
    height: 218px;
    border-bottom-right-radius: 0px;
    margin-top: 30px;
    border-bottom-right-radius: 16px;
  }
  .io-Einrichtung-slider .slider-card:first-of-type.__active {
    margin-top: 0px;
  }
  .io-slider-wrapper .slider-card.__active .slider-card-img {
    margin-top: -50px;
  }
  .io-slider-wrapper .slider-card .slider-card-img {
    margin-top: -30px;
  }
  .io-slider-wrapper .slider-card:first-child {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 0px;
  }
  .io-slider-wrapper .slider-card:last-child {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
  }
  .io-slider-wrapper .slider-card .slider-card-info {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .io-slider-wrapper .io-Einrichtung-slider {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
}

/* io-slider-wrapper end */

/* io-tab-wrapper start */

.io-tab-wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  background-color: var(--light-paste-color);
}
.io-tab-wrapper .area-header h3 {
  font-size: 52px;
  font-weight: 700;
  line-height: 72.8px;
  text-align: center;
  color: var(--black-color);
}
.io-tab-wrapper .area-info p {
  font-size: 18px;
  font-weight: 400;
  line-height: 25.2px;
  text-align: center;
  color: var(--black-color);
}
.io-tab-wrapper .tab-area {
  margin: 0 auto;
  display: flex;
  background-color: var(--light-blue-color);
  justify-content: center;
  max-height: 32px;
  border-radius: 60px;
  max-width: max-content;
}
.io-tab-wrapper .tab-area .tablinks {
  display: flex;
  align-items: center;
  gap: 5px;
  max-height: 32px;
  padding: 4px 30px;
  border: none;
  background-color: var(--light-blue-color);
}
.io-tab-wrapper .tab-area .tablinks.active {
  border-radius: 60px;
  background-color: var(--primary-blue-color);
}
.io-tab-wrapper .tab-area .tablinks p {
  color: var(--fff-white);
  font-size: 18px;
  font-weight: 600;
  line-height: 25.2px;
  text-align: center;
}
.io-tab-wrapper .tab-area .tablinks:first-of-type {
  border-top-left-radius: 60px;
  border-bottom-left-radius: 60px;
}
.io-tab-wrapper .tab-area .tablinks:last-of-type {
  border-top-right-radius: 60px;
  border-bottom-right-radius: 60px;
}
.io-tab-wrapper .tabcontent {
  /* display: flex; */
  display: none;
  align-items: center;
  justify-content: space-between;
  gap: 100px;
  margin: 40px 0px;
}
.io-tab-wrapper .tabcontent.__show {
  display: flex;
}
.io-tab-wrapper .tab-content-img {
  flex: 0 0 33%;
}

.io-tab-wrapper .details-header h4 {
  font-size: 24px;
  font-weight: 700;
  line-height: 33.6px;
  text-align: center;
  color: var(--black-color);
}
.io-tab-wrapper .details-info p {
  font-size: 18px;
  font-weight: 400;
  line-height: 25.2px;
  text-align: center;
  color: var(--black-color);
}
.io-tab-wrapper .tab-content-details.no-option {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.io-tab-wrapper .tab-content-details {
  width: 100%;
  display: flex;
  align-items: self-start;
  gap: 30px;
}
.io-tab-wrapper .tab-options-area {
  display: flex;
  flex-direction: column;
  gap: 60px;
  width: 100%;
  justify-content: flex-start;
}
.io-tab-wrapper .tab-options {
  display: flex;
  gap: 20px;
}
.io-tab-wrapper .tab-options p {
  font-size: 18px;
  font-weight: 600;
  line-height: 25.2px;
  text-align: left;
  color: var(--light-black-color);
}
@media screen and (max-width: 900px) {
  .io-tab-wrapper .tabcontent {
    flex-direction: column;
  }
  .io-tab-wrapper .tab-content-details {
    flex-direction: column;
    align-items: center;
    max-width: max-content;
    gap: 40px;
  }
  .io-tab-wrapper .tab-options-area {
    /* width: 48%; */
    gap: 40px;
  }
  .io-tab-wrapper .tab-options img {
    height: 100%;
  }
}
@media screen and (max-width: 768px) {
  .io-tab-wrapper .tab-area .tablinks p {
    display: none;
  }
  .io-tab-wrapper .tab-area .tablinks {
    padding: 4px 20px;
  }
  .io-tab-wrapper .tab-area .tablinks.active p {
    display: block;
    font-size: 12px;
    white-space: nowrap;
  }
}
/* io-tab-wrapper end*/
